<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.2.7/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="../styles/coursePageStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;600;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>數位系考古題題庫</title>
    <!-- <script src="../modules/coursePageMain.js" type="module"></script> -->
</head>

<body>
    <div id="app">
        <header class="top-bar">
            <!-- <div>
                <a href="index.html" class="top-bar-item">logo</a>
            </div> -->
            <span>
                <a v-for="item in topBarData" :href="item.url" class="top-bar-item">{{ item.title }}</a>
            </span>
        </header>
        <div class="course-title">
            <h2>{{ keyword.courseNameZh }}</h2>
        </div>
        <div class="course-years">
            <div>
                <table>
                    <thead>
                        <tr>
                            <td colspan="2">期中</td>
                        </tr>
                    </thead>
                    <tbody v-for="items in libraryMiddleUrl">
                        <tr>
                            <td>{{ items.fileYear }}</td>
                            <td>
                                <a v-for="(item, index) in items.fileMiddleUrl" :href=item target="_blank">{{ index + 1 }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td colspan="2">期末</td>
                        </tr>
                    </thead>
                    <tbody v-for="items in libraryFinalUrl">
                        <tr>
                            <td>{{ items.fileYear }}</td>
                            <td>
                                <a v-for="(item, index) in items.fileFinalUrl" :href=item target="_blank">{{ index + 1 }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="bottom-bar">
            <div>
                <div>
                    <h3>相關單位</h3>
                    <span></span>
                    <a href="https://www.nutn.edu.tw/" target="_blank">南大首頁</a>
                    <a href="http://ilt.nutn.edu.tw/" target="_blank">數位系首頁</a>
                </div>
                <div>
                    <h3>實用連結</h3>
                    <span></span>
                    <a href="https://ecourse.nutn.edu.tw/" target="_blank">E-Course課程網站</a>
                    <a href="https://academics.nutn.edu.tw/SelSys/" target="_blank">南大選課系統</a>
                    <a href="https://academics.nutn.edu.tw/iSTU/" target="_blank">南大學生系統</a>
                </div>
                <div>
                    <h3>聯繫</h3>
                    <span></span>
                    <a>Discord：YellowToFish#5671</a>
                    <a>Gmail：s10855033@gm2.nutn.edu.tw</a>
                </div>
            </div>
            <div>Copyright © 2021 YellowToFish</div>
        </footer>
    </div>
    <script type="module">
        Vue.createApp({
            data(){
                
                let obj = [{
    "courseNum": 1040,
    "courseNameZh": "學習理論",
    "courseMiddleExam": ["105_01.pdf", "105_02.docx"],
    "courseFinalExam": []
}, {
    "courseNum": 1001,
    "courseNameZh": "微積分(一)",
    "courseMiddleExam": ["106.pdf", "107.pdf", "108.pdf"],
    "courseFinalExam": ["107.pdf", "108.pdf"]
}, {
    "courseNum": 1008,
    "courseNameZh": "微積分(二)",
    "courseMiddleExam": ["107.pdf", "108.pdf"],
    "courseFinalExam": ["107.pdf", "108.pdf"]
}, {
    "courseNum": 1023,
    "courseNameZh": "機率與統計",
    "courseMiddleExam": ["107_01.jpg", "107_02.jpg", "108_01.jpg", "108_02.jpg", "109.pdf"],
    "courseFinalExam": ["107_01.jpg", "107_02.jpg", "107_03.jpg", "108_01.jpg", "108_02.jpg", "108_03.jpg"]
}, {
    "courseNum": 1034,
    "courseNameZh": "演算法",
    "courseMiddleExam": ["107_01.JPG", "107_02.JPG", "107_03.JPG", "107_04.JPG", "107_05.JPG", "107_06.JPG", "107_07.JPG", "107_08.JPG", "107_09.JPG", "107_10.JPG", "107_11.JPG", "109_01.jpg", "109_02.jpg", "109_03.jpg", "109_04.jpg"],
    "courseFinalExam": []
}, {
    "courseNum": 1002,
    "courseNameZh": "程式設計",
    "courseMiddleExam": [],
    "courseFinalExam": []
}, {
    "courseNum": 1072,
    "courseNameZh": "程式設計實作",
    "courseMiddleExam": [],
    "courseFinalExam": []
}, {
    "courseNum": 1047,
    "courseNameZh": "管理資訊系統",
    "courseMiddleExam": [],
    "courseFinalExam": []
}, {
    "courseNum": 1016,
    "courseNameZh": "系統分析與設計",
    "courseMiddleExam": ["105.pdf"],
    "courseFinalExam": []
}, {
    "courseNum": 1007,
    "courseNameZh": "線性代數",
    "courseMiddleExam": ["108_01.jpg", "108_02.jpg", "108_03.jpg", "108_04.jpg", "108_05.jpg", "108_06.jpg", "108_07.jpg", "108_08.jpg", "108_09.jpg", "108_10.jpg"],
    "courseFinalExam": ["106.docx"]
}, {
    "courseNum": 1004,
    "courseNameZh": "計算機概論",
    "courseMiddleExam": ["107_1.jpg", "107_2.jpg"],
    "courseFinalExam": []
}, {
    "courseNum": 1088,
    "courseNameZh": "認知科學",
    "courseMiddleExam": ["104_1.pdf", "104_2.pdf", "105_1.pdf", "105_2.pdf"],
    "courseFinalExam": []
}, {
    "courseNum": 1041,
    "courseNameZh": "資料庫系統",
    "courseMiddleExam": ["107_01.jpg", "107_02.jpg", "108_01.JPG", "108_02.JPG", "109_01.jpg", "109_02.jpg", "重點整理.docx"],
    "courseFinalExam": []
}, {
    "courseNum": 1013,
    "courseNameZh": "資料結構",
    "courseMiddleExam": ["106_01.jpg", "106_02.jpg", "107_01.jpg", "107_02.jpg", "108_01.jpg", "108_02.jpg"],
    "courseFinalExam": ["105.doc", "106.doc", "107.doc", "108_01.doc", "108_02.doc"]
}, {
    "courseNum": 1027,
    "courseNameZh": "資訊倫理與法律",
    "courseMiddleExam": [],
    "courseFinalExam": []
}, {
    "courseNum": 1015,
    "courseNameZh": "離散數學",
    "courseMiddleExam": ["107_01.jpg", "107_02.jpg", "107_03.jpg", "107_04.jpg", "107_05.jpg", "107_06.jpg", "107_07.jpg", "107_08.jpg", "107_09.jpg", "107_10.jpg", "107_11.jpg", "107_12.jpg"],
    "courseFinalExam": ["106_1.jpg", "106_2.jpg", "106_3.jpg", "107_1.jpg", "107_2.jpg", "107_3.jpg", "107_4.jpg", "107_5.jpg"]
}, {
    "courseNum": 1030,
    "courseNameZh": "電腦圖學",
    "courseMiddleExam": [],
    "courseFinalExam": ["105.pdf"]
}]
                let url = location.href;
                let get = "";
                if (url.includes('?')){
                    get = (url.split("?")[1]).split("=")[1];
                }
                let key;
                for (let i in obj){
                    if(obj[i].courseNum == get){
                        key = obj[i];
                    }
                }
                let libraryMiddleUrl = [];
                if (key.courseMiddleExam.length != 0){
                    let fileMiddleUrl = [];
                    fileMiddleUrl.push("../library/" + key.courseNameZh + "/" + "期中考/" + key.courseMiddleExam[0])
                    let index1 = 0;
                    for (let i = 0; i < key.courseMiddleExam.length - 1; i++){
                        if (key.courseMiddleExam[index1].split("_")[0].split(".")[0] == key.courseMiddleExam[i + 1].split("_")[0].split(".")[0]){
                            fileMiddleUrl.push("../library/" + key.courseNameZh + "/" + "期中考/" + key.courseMiddleExam[i + 1]);
                        }
                        else{
                            index1 = i + 1;
                            let temp = {
                                "fileYear": key.courseMiddleExam[i].split("_")[0].split(".")[0],
                                "fileMiddleUrl": fileMiddleUrl
                            }
                            libraryMiddleUrl.push(temp);
                            fileMiddleUrl = ["../library/" + key.courseNameZh + "/" + "期中考/" + key.courseMiddleExam[index1]]
                        }
                    }
                    let temp1 = {
                        "fileYear": key.courseMiddleExam[index1].split("_")[0].split(".")[0],
                        "fileMiddleUrl": fileMiddleUrl
                        }
                    libraryMiddleUrl.push(temp1);
                }
                let libraryFinalUrl = [];
                if(key.courseFinalExam.length != 0){
                    let fileFinalUrl = [];

                    fileFinalUrl.push("../library/" + key.courseNameZh + "/" + "期末考/" + key.courseFinalExam[0])
                    let index2 = 0;
                    for (let i = 0; i < key.courseFinalExam.length - 1; i++){
                        if (key.courseFinalExam[index2].split("_")[0].split(".")[0] == key.courseFinalExam[i + 1].split("_")[0].split(".")[0]){
                            fileFinalUrl.push("../library/" + key.courseNameZh + "/" + "期末考/" + key.courseFinalExam[i + 1]);
                        }
                        else{
                            index2 = i + 1;
                            let temp = {
                                "fileYear": key.courseFinalExam[i].split("_")[0].split(".")[0],
                                "fileFinalUrl": fileFinalUrl
                            }
                            libraryFinalUrl.push(temp);
                            fileFinalUrl = ["../library/" + key.courseNameZh + "/" + "期末考/" + key.courseFinalExam[index2]]
                        }
                    }
                    let temp2 = {
                        "fileYear": key.courseFinalExam[index2].split("_")[0].split(".")[0],
                        "fileFinalUrl": fileFinalUrl
                        }
                    libraryFinalUrl.push(temp2);
                }
                

                return{
                    topBarData: [{
                            title: "首頁",
                            url: "../index.html"
                        },
                        {
                            title: "消息",
                            url: ""
                        },
                        {
                            title: "收藏",
                            url: ""
                        },
                        {
                            title: "登入",
                            url: ""
                        }
                    ],
                    keyword: key,
                    libraryMiddleUrl: libraryMiddleUrl,
                    libraryFinalUrl: libraryFinalUrl
                }
            }
        }).mount("#app");
    </script>
</body>

</html>