/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Noto Serif TC', serif; */
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* top-bar */
.top-bar {
    width: 100%;
    height: fit-content;
    background: white;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 10;
}

.top-bar>* {
    margin: 16px 24px;
}

.top-bar-item {
    padding: 12px;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

/* middle */
.middle {
    min-height: 70vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/blur.jpg');
    background-size: cover;
}

.login {
    width: 360px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 1px rgb(121, 121, 121);
}

.login>* {
    margin: 12px;
}

input[type="email"],
input[type="password"] {
    padding: 6px 12px;
    width: 220px;
    border: 1px solid #777;
    border-radius: 3px;
}

input:focus {
    outline: none;
}

.login p {
    font-size: 14px;
    margin: 0;
    color: #233862;
    color: #9e2a2b;
    cursor: default;
}

.login hr {
    width: 220px;
    margin: 4px;
    color: #233862;
}

.login button {
    color: white;
    padding: 6px;
    background-color: #233862;
    border: 1px solid #233862;
    border-radius: 4px;
    /* cursor: pointer; */
}

.login button {
    width: 220px;
}

/* bottom-bar */
.bottom-bar {
    width: 100%;
    padding: 12px 0;
    background-color: #233862;
}

.bottom-bar>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 12px;
}

.bottom-bar>div>div {
    display: flex;
    flex-direction: column;
}

.bottom-bar>div>div * {
    margin: 4px;
}

.bottom-bar>div>div span {
    content: "";
    width: 120px;
    height: 1px;
    background-color: white;
}

.bottom-bar * {
    font-weight: 100;
    color: white;
}